<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<title>Logik CRM</title>
<link rel="stylesheet" type="text/css" href="/media/css/main.css" />
{% block css %} {% endblock %}
{% block extrahead %} {% endblock %}
</head>
<body>

<div id="container">
	
	<!-- ### Header ### -->
	
	<div id="header">	
		<h1>Logik <span>CRM</span></h1>
		<p>Central Resources Management solution</p>		

		<!-- ### Top Menu ### -->

		{% include 'menu.html' %}

	</div>
	
	<!-- ### Content ### -->
	
	<div id="contentcontainer">
		
		<div id="content">
	
			{% block content %}
			
			{% endblock %}
			
		<!-- end content -->
		</div>


	</div>
</div>	

<div id="footer">
	<p>Copyright &copy; 2009 Logik Software Solutions</p>
</div>

</body>
</html>