{% extends "base.html" %}
{% load adminmedia %}
{% load i18n %}

{% block extrahead %}

<script type="text/javascript">
<!--
function switchMenu(obj) {
	var el = document.getElementById(obj);
	if ( el.style.display != "none" ) {
		el.style.display = 'none';
	}
	else {
		el.style.display = '';
	}
}
//-->
</script>

{% endblock %}

{% block content %}

<!-- Welcome post -->
<div class="post">
	
	<div class="l600">
		
		
		<div class="module l600">
			<div class="btitle">List of all clients (click to access dashboard)</div>
			
			<div id="toolbar">
				<form id="changelist-search" action="" method="post">
					<div><!-- DIV needed for valid HTML -->
						<label for="searchbar" style="float : left"><img src="/media/img/search.png" alt="Search" /></label>
						{{ form.search }} <br/>
						<div class="help">{{ form.search.help_text }} </div>
						<br/>
						<input type="submit" value="Filter clients" />					
						
						<img style="float: right" src="/media/img/advanced.png" onclick="switchMenu('advanced_filter');"/>
						<img style="float: right" src="/media/img/save.png" />
						
						<div id="advanced_filter" style="display: {% if advanced %}{% else %}none{% endif %}; overflow : auto; padding-top: 20px; border-top: 1px solid #ccc; margin-top:10px">
							<div class="left "><b>City</b>: </div>
							<div id="city" class="left ">
								{{ form.city }}
							</div>
							<div class="left "><b>Type</b>: </div>
							<div id="city" class="left ">
								{{ form.type }}
							</div>
							
							<div style="clear : both;"> </div>
						</div>
					</div>
				</form>
			</div>
			<script type="text/javascript">document.getElementById("searchbar").focus();</script> 
			
			
			<table style="width: 100%">
			<thead>
				<tr>
					<th></th>
					<th>
						Name <br/>
						Company
					</th>
					<th>
						Type
					</th>
					<th>
						City <br/>
						Subscription
					</th>
					<th>
						Information <br/>
						Contacts
					</th>
				</tr>
			</thead>

				<tbody>
				{% for client in clients %} 
					<tr class="{% cycle 'row1' 'row2' %}">
						<th class="tiny"><input type="checkbox"></th>
						<td class="medium"><a href="/crm/dashboard/{{ client.id }}"><b>{{ client.name }}</b></a></td>
						<td>{{ client.type }} </td>
						<td>{{ client.city }}</td>
						<td>{{ client.information }}</td>
					</tr>
					<tr class="{% cycle 'row1' 'row2' %}">
						<th class="tiny"></th>
						<td colspan="2">{% if client.company %} {{ client.company }} {% endif %}</td>
						<td >{% if client.subscription %} {{ client.subscription }} {% endif %}</td>
						<td colspan="2">{% if client.contact %} {{ client.contact }} {% endif %}</td>
						
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		
	</div>
	
	
	
	
	<!-- RIGHT PANEL -->
	<div class="l300">
		<!-- User information -->
		<div class="module l300 userpanel">
			<div class="btitle">User</div>
			<br/>
			Bine ai venit <b>{{ username }}</b>!
			<br/>
			<a href="/crm/logout"> Logout</a>
		</div>
		<!-- Quick access -->
		<div class="module l300" >
			<div class="btitle">Quick access to common tasks</div>
			<br/>
			
			{% include 'quick_links.html' %}
			
		</div>
		<!-- Online clients -->
		<div class="module l300">
			<div class="btitle">Online clients</div>
			<br/>
			
			<table style="width: 100%">
				<tbody>
				{% for logiktrayclient in logiktrayclients %} 
					<tr class="{% cycle 'row1' 'row2' %}">
						<td class="tiny"><img src="/media/img/User_online.png"/></td>
						<td><a href="/crm/dashboard/{{ logiktrayclient.client.id }}">{{ logiktrayclient.client.name }}</a></td>
					</tr>	
				{% endfor %}
				</tbody>
			</table>
			
		</div>
	</div>
	
	
	
</div>
{% endblock %}



