<table style="width: 100%">
	<tbody>
		<tr>
			<td><img src="/media/img/Task.png"></td>
			<td><a href="/crm/admin/business/task/add"><b>Add a new task</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/tag_blue.png"></td>
			<td><a href="/crm/admin/business/ticket/add"><b>Add a new ticket</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/bell.png"></td>
			<td><a href="/crm/admin/business/reminder/add"><b>Add a new reminder</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/Comment.png"></td>
			<td><a href="/crm/admin/business/comment/add"><b>Add a new comment</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/Worktime.png"></td>
			<td><a href="/crm/admin/business/worktime/add"><b>Add new work hours</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/Clipboard.png"></td>
			<td><a href="/crm/admin/business/notification/add"><b>Send a new notification</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/Security.png"></td>
			<td><a href="/crm/admin/business/login/add"><b>Add a new login</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/LogikLicence.png"></td>
			<td><a href="/crm/admin/business/logikposlicence/add"><b>Add a new LogikPOS licence</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/Station.png"></td>
			<td><a href="/crm/admin/business/station/add"><b>Add a new station</b></a></td>
		</tr>
		<tr>
			<td><img src="/media/img/Client.png"></td>
			<td><a href="/crm/admin/business/client/add"><b>Add a new client</b></a></td>
		</tr>
	
	</tbody>
</table>

