{% extends "base.html" %}


{% block content %}
<!-- Welcome post -->
<div class="post">
	
	<div class="l600">
		<div class="module l600">
			<div class="btitle">Choose report</div>
			<br/>
					
			<div style="float: left; width: 200px">	
				<h3> Report types</h3>
				<ul>
					
					{% for slug, report in reports %}
						<li>
						<a href="{% url reporting-view slug %}">{{report.verbose_name}}</a><br>
						</li>
					{% endfor %}
					
				</ul>	
			</div>
			<div style="float: left; width: 400px">	
				<h3> Favorite reports</h3>
				<ul>
					
					{% for favorite in favorites %}
						<li>
						<a href="{{ favorite.url }}">{{favorite.title}}</a><br>
						</li>
					{% endfor %}
					
				</ul>	
			</div>
				 
		</div>
		
	</div>
	
	
	
	
	<!-- RIGHT PANEL -->
	<div class="l300">
		<!-- User information -->
		<div class="module l300 userpanel">
			<div class="btitle">User</div>
			<br/>
			Bine ai venit <b>{{ username }}</b>!
			<br/>
			<a href="/crm/logout"> Logout</a>
		</div>
		<!-- Quick access -->
		<div class="module l300" >
			<div class="btitle">Quick access to common tasks</div>
			<br/>
			
			{% include 'quick_links.html' %}
			
		</div>
	</div>
	
	
	
</div>
{% endblock %}



